.single a:hover, .single a:focus
{
text-decoration:none;
}
.double a:hover, .double a:focus, .room a:hover, .room a:focus
{
text-decoration:none;
}
.single h1
{
text-decoration:none;
color:white;
background-color:#eee;
margin:0 auto;
border:solid red 0px;
width:40%;
padding: 1% 1% 1% 10%;
background-position:center;
background:-moz-linear-gradient(top,skyblue 0%,blue 100%);
background:-webkit-linear-gradient(skyblue 0%,blue 100%);
background:-o-linear-gradient(skyblue 0%,blue 100%);
background:linear-gradient(skyblue 0%,blue 100%);

}
.single h1:hover{color:black;}
.single h1:active{color:green;}

.double a
{
text-decoration:none;
}
.double h1
{
color:white;
background-color:#eee;
border:solid red 0px;
width:43%;
padding:1% 1% 1% 10%;
margin:0 auto;
margin-top:50px;
background-position:center;
background:-moz-linear-gradient(top,skyblue 0%,blue 100%);
background:-webkit-linear-gradient(skyblue 0%,blue 100%);
background:-o-linear-gradient(skyblue 0%,blue 100%);
background:linear-gradient(skyblue 0%,blue 100%);
}
.double h1:hover{color:black;}
.double h1:active{color:green;}



.room a
{
text-decoration:none;
}
.room h2
{
background-color:;
color:green;
width:33%;
padding: 1% 1% 1% 3%;
margin-top:60px;
margin-left:50px;
}
#sat
{
color:red;
background-color:none;
border:solid black 0px;

margin:auto;
padding:1% 1% 1% 3%;
}





body
{
font-size:16px;
color:#fff;
background-color:red;#61122f
font-family:"Sans-serif",Cursive;
}
#header-nav
{
background-color:#f6b319;
background-radius:0;
border:0;
}
#logo-img
{
background:url("../images/ss.jpg");
font-family:Cursive;
background-size:cover;
background-position:center;
width:100px;
height:100px;
magrin:10px 15px 10px 0;
}
.navbar-brand
{padding-top:25px;
}
.navbar-brand h1
{
font-family:Serif;
color:red;
background-color:;
font-size:2em;
margin-left:2px;
text-transform:uppercase;
font-weight:bold;
margin-top: 0px;
margin-bottom: 0;
margin-left:0px;
line-height:.75;
text-shadow: 1px 1px 1px #222;
}
.navbar-brand a:hover, .navbar-brand a:focus
{
text-decoration: none;
}

.navbar-brand p
{
margin-left:7px;
color:green;
text-transform:uppercase;
font-size:.7em;
margin-top:15px;
font-weight:bold;
}
#nav-list
{
margin-top: 10px;
}
#nav-list a
{
color:#951c49;
text-align:center;
}
#nav-list a:hover
{
background-color:#E7E7E7;
}
#nav-list a span
{
font-size:1.8em;
}

#phone
{
margin-top:5px;
}
#phone a
{
text-align:right;
padding-bottom:0;
}
#phone div
{
color:#557c3e;
text-align:right;
padding-right:15px;
}



.navbar-header button.navbar-toggle, .navbar-header .iconbar
{
border:1px solid #61122f;
}
.navbar-header button.navbar-toggle
{
clear:both;
margin-top:-30px;
}



@media(min-width:1200px)
{
#header-nav
{
margin-bottom:0px;
}
}
@media(min-width:992px) and (max-width:1199px)
{
#logo-img
{
background:url("../images/ss.jpg");
background-color:yellow;
background-position:center;
background-size:cover;
height:100px;
margin: 5px 5px 5px 0;
}
#header-nav
{
margin-bottom:0px;
}
}
@media(min-width:768px) and (max-width:991px)
{
#header-nav
{
margin-bottom:0px;
}
}
 @media(max-width:767px)
{
.navbar-brand
{
padding-top:10px;
height:90px;
}
.navbar-brand h1
{
padding-top:1px;
font-size:4.5vw;

}
.navbar-brand p
{
font-size:.6em;
margin-top:1px;
}
.navbar-brand p img
{
height:20px;
}
#collapsable-nav a
{
font-size:1.2em;
}
#collapsable-nav a span
{
font-size:1em;
margin-right:5px;
}
#call-btn>a
{
font-size:1.5em;
display:block;
margin:0 20px;
padding:10px;
border:2px solid blue;
background-color:orange;
color:white;
}
#xs-deliver
{
margin-top:5px;
font-size:.7em;
letter-spacing:.1em;
text-transform:uppercase;
}

.panel-footer
{
margin-bottom:30px;
text-align:center;
}
.panel-footer section:nth-child(3)
{
margin-bottom:0;
}
.panel-footer section hr
{
width:50%;
}


@media(max-width:479px)
{
.navbar-brand h1
{
padding-top:1px;
font-size:6vw;
}
.navbar-brand p
{
margin-top:0px;
}

}
header
{
  position:sticky;
z-index:1;
top:0;
}






















